
*.bak
*.qpf
*.qsf
*.qws
*.rpt
*.cdb
*.hdb
*.xml
*.rdb
*.kpt
*.db_info
*.qmsg
*.hier_info
*.ipinfo
*.hif
*.html
*.txt
*.ammdb
*.bpm
*.logdb
*.ddb
*.nvd
*.sci
*.tmw_info
*.dat
*.qns
*.dpi
*.hb_info
*.sig
*.done
*.summary
*.do
*.bak8
*.bak9
*.ini
*.wlf
*.psm
*.prw
*.vhd
*.dbs
CPU/simulation/modelsim/rtl_work/_vmake
CPU/simulation/modelsim/rtl_work/_info
*.bak7
*.bak6
*.bak5
*.bak4
*.bak3
*.bak2
*.bak11
*.bak10
*.bak1
CPU/simulation/modelsim/msim_transcript
